<div class="flex flex-col space-y-4">
  <%= button_to "Importar dados", importar_dados_path, method: :post, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-full" %>

  <%
     css_classe = @sistema_tem_dados ? "bg-green-500 hover:bg-green-700" : "bg-green-300 cursor-not-allowed"
     esta_desabilitado = !@sistema_tem_dados 
  %>

  <button class="<%= css_classe %> text-white py-2 px-4 rounded w-full" <%= "disabled" if esta_desabilitado %>>
    Editar Templates
  </button>

  <button class="<%= css_classe %> text-white py-2 px-4 rounded w-full" <%= "disabled" if esta_desabilitado %>>
    Enviar Formularios
  </button>

  <button class="<%= css_classe %> text-white py-2 px-4 rounded w-full" <%= "disabled" if esta_desabilitado %>>
    Resultados
  </button>
</div>