<h1>Novo Formulário</h1>

<%= form_with url: formularios_path, local: true, method: :post do |form| %>
  <% if flash[:alert] %>
    <div style="color: red"><%= flash[:alert] %></div>
  <% end %>

  <div>
    <%= form.label :template_id, "Template" %>
    <%= form.collection_select :template_id, @templates, :id, :titulo, prompt: "Selecione um template" %>
  </div>

  <div>
    <h3>Turmas</h3>
    <% @turmas.each do |turma| %>
      <div>
        <%= check_box_tag "turma_ids[]", turma.id, false, id: "turma_#{turma.id}" %>
        <%= label_tag "turma_#{turma.id}", "#{turma.materia.nome} - #{turma.codigo}" %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :data_encerramento, "Data de Encerramento" %>
    <%= form.date_field :data_encerramento %>
  </div>

  <div>
    <%= form.submit "Gerar Formulário" %>
  </div>
<% end %>

<%= link_to "Voltar", formularios_path %>